.para-text.content-text((mouseup)='onMouseup($event)', (contextmenu)='onMouseup($event)', spellcheck='false', #contentText='')
.para-text.trans-text([hidden]='!showTrans', spellcheck='false', #paraTrans='')
ng-template(#wordAnnos='')
