.para-text {
  /*white-space: pre-wrap;*/
  flex: 1;
}

.para-text.trans-text {
  margin-left: 1em;
}

.ui.right.rail {
  margin-left: 1em;
  padding-left: 0;
}

.ui.right.rail .ui.list {
  padding: 0;
}
