.ui.header
  .ui.right.floated.header
    sui-checkbox([(ngModel)]='showZh') 中文
    sui-checkbox([(ngModel)]='listAllBooks', (click)='changeList()') 全部
  | Book List
.ui.celled.list
  .item(*ngFor='let book of books; trackBy: bookTracker')
    i.ui.right.floated.large.checkmark.icon(*ngIf='book.userBook')
    a((click)='gotoDetail(book)', [routerLink]="['/books', book._id]")
      .enname {{book.name}}
      .zhname(*ngIf='showZh && book.zhName') {{book.zhName}}
