.ui.small.blue.header {{book&&book.name}}

.ui.content
  .ui.centered.fluid.image(*ngIf='book')
    img(*ngIf='book.image', [src]='bookImagesBase+"/"+book.image.file')
    img.disabled(*ngIf='!book.image', [src]='bookImageNotSet', title='点击选择图片')

  //.ui.horizontal.small.list.image-info(*ngIf='book.image')
    .item
      | 上传于
      .ui.small.label {{book.image.uploadedAt | date:'yyyy-M-d' }}
    .item
      | 大小
      .ui.small.label {{book.image.size | fileSize}}

//.actions
  button.ui.tiny.button((click)="close()", autofocus='') 关闭
