.ui.container
  .ui.secondary.pointing.menu
    a.item(routerLink='/') Home
    ng-template([ngIf]='currentUser')
      a.item(routerLink='/books', routerLinkActive='active') 阅读
      a.item(routerLink='/dict', routerLinkActive='active') 查词
      a.item(routerLink='/vocabulary', routerLinkActive='active') 词汇
    .right.menu
      ng-template([ngIf]='currentUser')
        .item(*ngIf='currentUser') {{currentUser.name}}
        .ui.dropdown.item(*ngIf='currentUser', suiDropdown='')
          | 设置
          i.dropdown.icon
          .menu(suiDropdownMenu='')
            a.item(routerLink='/base-vocabulary', routerLinkActive='active') 基础词汇
            a.item(routerLink='/word-tags', routerLinkActive='active') 词频标签
            a.item(routerLink='/imp-exp', routerLinkActive='active') 词表导入
            a.item((click)='showTextSearchScope()') 文本搜索
        a.item(*ngIf='currentUser', (click)='logout()') 退出
      a.item(*ngIf='!currentUser', (click)='gotoLogin()') 登录

  //login-form(*ngIf='loginForm')
  //.ui.hidden.clearing.divider

  router-outlet

  p &nbsp;
