.ui.container
  .ui.secondary.pointing.menu
    a.item(routerLink='/') Home
    a.item(routerLink='/books', routerLinkActive='active') Books
    ng-template([ngIf]='currentUser')
      a.item(routerLink='/vocabulary', routerLinkActive='active') 我的词汇
      a.item(routerLink='/base-vocabulary', routerLinkActive='active') 基础词汇
      a.item(routerLink='/word-tags', routerLinkActive='active') 词汇标签
    .right.menu
      a.item(*ngIf='!currentUser', href='javascript:', (click)='gotoLogin()') Login
      .item(*ngIf='currentUser')
        | {{currentUser.name}} &nbsp;&nbsp;
        a((click)='logout()', href='#') Logout

  .ui.small.form.login(*ngIf='loginForm')
    h3 Login
    p(*ngIf='loginMessage')
      | {{loginMessage}}
    .field
      input(type="text", #name="", placeholder="Username")
    .field
      input(type="password", #pass="", placeholder="Password")
    .field
      .ui.small.button((click)='cancelLogin()') 取消
      .ui.small.primary.button((click)='login(name.value, pass.value)') 登录
    .ui.hidden.clearing.divider

  router-outlet

  p &nbsp;
