.ui.container
  .ui.secondary.pointing.menu
    a.item(routerLink='/books', routerLinkActive='active') Books
    a.item(routerLink='/vocabulary', routerLinkActive='active') Vocabulary
    a.item(routerLink='/base_vocabulary', routerLinkActive='active') Base Vocabulary
    .right.menu
      a.item(*ngIf='!currentUser', href='javascript:', (click)='gotoLogin()') Login
      .item(*ngIf='currentUser')
        | {{currentUser.name}} &nbsp;&nbsp;
        a(href='javascript:', (click)='logout()') Logout

  .ui.small.form.login(*ngIf='loginForm')
    h3 Login
    p(*ngIf='loginMessage')
      | {{loginMessage}}
    .field
      input(type="text", #name="", placeholder="Username")
    .field
      input(type="password", #pass="", placeholder="Password")
    .field
      .ui.small.button((click)='cancelLogin()') 取消
      .ui.small.primary.button((click)='login(name.value, pass.value)') 登录
    .ui.hidden.clearing.divider

  router-outlet

  p &nbsp;
