.ui.container
  .ui.secondary.pointing.menu
    a.item(routerLink='/books', routerLinkActive='active') Books
    a.item(routerLink='/dict', routerLinkActive='active') Dict
    .right.menu
      a.item(href='javascript:') Logout

  router-outlet

  p &nbsp;
