.ui.hidden.divider
.ui.small.header
  | 欢迎使用&nbsp;
  //span.emph 郁文阅读（内容制作端）
//.ui.relaxed.list
  .item
    i.right.caret.icon
    | 这里是"郁文阅读"app对应的内容制作端。请在PC上使用本系统；请使用较新版本的浏览器
  .item
    i.right.caret.icon
    | 如何使用本系统，请阅读&nbsp;
    a(href='http://yuwen-reading.net/ee-man/', target='blank') 操作说明
  .item
    i.right.caret.icon
    | 每个人都可以制作自己的内容（阅读文本、标注、笔记等），并可在APP端看到
  .item
    i.right.caret.icon
    | 可以先通过"编辑体验"功能，熟悉系统界面和功能，体验编辑过程
  .item
    i.right.caret.icon
    | 可以为自己的内容增加若干个读者。如要发布公开可见的内容，请与管理员联系
