.ui.grid
  .three.wide.column
    .sticky
      sui-accordion([closeOthers]='false')
        sui-accordion-panel([isOpen]='true')
          .column-header(title='')
            i.dropdown.icon
            | 查词历史
          .ui.link.list.words-history(content='')
            a.item(*ngFor='let entry of entryHistory',
              (click)='showEntry($event,entry)',
              (contextmenu)='showEntry($event,entry)')
              | {{entry.word}}
            .item
              a.operation(*ngIf='entryHistory.length>0', (click)='clearHistory()') ^^ 清空

  .thirteen.wide.column

    .ui.segment.small.form.filter-group
      .field
        .grouped.fields.search
          sui-search([optionsLookup]="dictSearch", optionsField="word", searchDelay="400",
            (resultSelected)="selectSearchResult($event)", (keyup)='onSearchKeyup($event)', [retainSelectedResult]="false",
            placeholder='单词、短语...', #searchInput='')
        //label.title 词典
        .grouped.fields
          sui-checkbox([(ngModel)]='phrase', [isDisabled]='phraseOnly', (click)='resetSearch()') 短语
          sui-checkbox([(ngModel)]='phraseOnly', (click)='resetSearch()') 仅短语
        .grouped.fields
          label.title 范围 &nbsp;
          sui-radio-button(name="wordScope", value="All", [(ngModel)]="wordScope", [isDisabled]='phraseOnly', (click)='resetSearch()') 不限
          sui-radio-button(name="wordScope", value="basic", [(ngModel)]="wordScope", [isDisabled]='phraseOnly', (click)='resetSearch()') 基础
          sui-radio-button(name="wordScope", value="cet", [(ngModel)]="wordScope", [isDisabled]='phraseOnly', (click)='resetSearch()') CET
          sui-radio-button(name="wordScope", value="ielts", [(ngModel)]="wordScope", [isDisabled]='phraseOnly', (click)='resetSearch()') 雅思
          sui-radio-button(name="wordScope", value="gre", [(ngModel)]="wordScope", [isDisabled]='phraseOnly', (click)='resetSearch()') GRE
      //.field
        label.title 文本
        .grouped.fields
          //span.label.field-name 范围
      //.clearing

    .ui.clearing.hidden.divider
    dict-entry(*ngIf='entry', [entry]='entry')

ng-template(#dictSimple='')
