.ui.grid
  .three.wide.column
    .ui.list.words-history
      a.item(*ngFor='let entry of entryHistory', (click)='selectHistoryEntry(entry)', href='javascript:')
        | {{entry.word}}
      .item(*ngIf='entryHistory.length>0')
        a.ui.right.floated((click)='clearHistory()', href='javascript:') 清空
  .thirteen.wide.column
    .ui.segment
      sui-search([optionsLookup]="dictSearch", optionsField="word", searchDelay="400",
      (resultSelected)="selectEntry($event)", [retainSelectedResult]="false", placeholder='单词、短语...')
      .ui.right.floated.header(*ngIf='entry')
        button.ui.compact.mini.button((click)='loadPreviousEntry()')
          i.left.arrow.icon
        span {{entry.word}}
        button.ui.compact.mini.button((click)='loadNextEntry()')
          i.right.arrow.icon
      span.search-options
        sui-checkbox([(ngModel)]='phrase', [isDisabled]='phraseOnly') 短语
        sui-checkbox([(ngModel)]='phraseOnly') 仅短语
        sui-checkbox([(ngModel)]='junior') 基础词汇
        sui-checkbox([(ngModel)]='cet', [isDisabled]='junior') CET词汇
      .clearing
    dict-entry.ui.segment(*ngIf='entry', [entry]='entry')
