.ui.grid
  .three.wide.column
    .ui.vertical.menu
      a.item(routerLink='/my/account', routerLinkActive='active red') 账号
      a.item(routerLink='/my/vip-codes', routerLinkActive='active red') 兑换码
      a.item(routerLink='/my/vip', routerLinkActive='active red') 会员期限
      a.item(routerLink='/my/word-tags', routerLinkActive='active red') 词频标签
      a.item(routerLink='/my/base-vocabulary', routerLinkActive='active red') 基础词汇
      a.item(routerLink='/my/word-statistic', routerLinkActive='active red') 词汇量
      a.item(routerLink='/my/imp-exp', routerLinkActive='active red') 导入导出

  .thirteen.wide.column

    router-outlet
