.ui.grid
  .three.wide.column
    .sticky
      .ui.list
        .ui.item
          a.item(routerLink='/my/account', routerLinkActive='active') 账号
        .ui.item
          a.item(routerLink='/my/vip', routerLinkActive='active') 会员期限
        .ui.item
          a.item(routerLink='/my/vip-codes', routerLinkActive='active') 兑换码
        .ui.item
          a.item(routerLink='/my/word-tags', routerLinkActive='active') 词频标签
        .ui.item
          a.item(routerLink='/my/base-vocabulary', routerLinkActive='active') 基础词汇
        .ui.item
          a.item(routerLink='/my/imp-exp', routerLinkActive='active') 我的词表

  .thirteen.wide.column

    router-outlet
