.ui.header
  | 会员期限


table.ui.striped.table
  thead
    tr
      th 期限
      th 状态
      th 开始时间
      th 结束时间
      th 兑换码
      th 获得时间
  tbody(*ngIf='vipTerms')
    tr(*ngFor='let vc of vipTerms')
      td {{[vc.term,vc.termNum]|termName}}
      td {{vc.status|termStatusName}}
      td {{vc.startTime|date:'yyyy-MM-dd'}}
      td {{vc.endTime|date:'yyyy-MM-dd'}}
      td {{vc.redeemCode}}
      td {{vc.createdAt|date:'yyyy-MM-dd'}}
    tr(*ngIf='vipTerms.length===0')
      td(colspan="6") 无
