/* *** 词类 Parts of Speech *** */

.para-content y-o, .yo {
  border-bottom: 1px dashed grey;
  /*border-bottom-width: 1px;*/
  /*border-bottom-color: grey;*/
  /*border-bottom-style: dashed;*/
}

.para-content .pos {
  border-bottom-color: dimgrey;
}

/*.pos:before {
}*/

/*.pos:after {
}*/

/* *** 名词 Noun *** */

.para-content .noun {
  border-bottom-color: cadetblue;
}

/* *** 动词 Verb *** */

.para-content .verb {
  border-bottom-color: darkgreen;
}

/* *** 成分 Members of the Sentence *** */

.para-content .memb {
  border-bottom-color: darkolivegreen;
  border-bottom-style: solid;
}

.para-content .memb[data-memb=ms],
.para-content .memb[data-memb=mp],
.para-content .memb[data-memb=mo] {
  border-bottom-color: darkgreen;
  border-bottom-style: double;
}

/* *** 从句 Clauses *** */

.para-content .clau {
  border-bottom-color: silver;
}

.para-content .clau[data-clau=cc],
.para-content .clau[data-clau=cr] {
  border-bottom-color: palevioletred;
  border-bottom-style: solid;
}

/* *** 时态 Tense *** */

.para-content .tens {
  border-bottom-color: olive;
  border-bottom-style: solid;
}

/* *** 短语 Phrases *** */

.para-content .phra {
  border-bottom-color: lightskyblue;
  border-bottom-style: solid;
}

.para-content .phra[data-phra=g1] {
  border-bottom-color: deepskyblue;
}

.para-content .phra[data-phra=g2] {
  border-bottom-color: lightsalmon;
}

.para-content .phra[data-phra=g3] {
  border-bottom-color: darkgreen;
}

/* *** 其他 Misc *** */

.para-content .misc {
  border-bottom-color: cornflowerblue;
  border-bottom-style: solid;
}


.para-text.content-text [data-mid] {
  border-bottom: 1px dashed cadetblue;
}

.para-text.content-text [data-note]:after {
  content: '注';
  font-size: 0.6em;
  vertical-align: super;
  color: indianred;
}

body.anno-disabled .para-content y-o {
  text-decoration: none !important;
  border-bottom: none !important;
}

body.anno-disabled .para-content y-o[data-note]:after {
  content:''
}
