.ui.header .book-name, .ui.header .book-zhname {
  display: inline-block;
}

.ui.header .book-zhname {
  margin-left: 1em;
}

.chap-zhname.pre-wrap {
  margin-top: 0.5em;
}

.ui.header a.edit-chap-name {
  font-size: 0.8em;
  margin-left: 1em;
  font-weight: normal;
}

.sticky.header {
  background-color: white;
  border: 1px solid silver;
  border-radius: 5px;
  padding: 5px;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 10;
}

.sticky.header .operations {
  padding: .3em;
  border-bottom: 1px dashed silver;
}

.sticky.header .operations:last-child {
  border-bottom: none !important;
}

.ui[class*="right floated"].header {
  margin: 0 0 .5em 0;
}

.operations .title {
  margin-right: 0.5em;
  display: inline-block;
  border-bottom-style: double;
  border-bottom-color: silver;
}

.operations, .operations .ui.header {
  font-weight: normal;
  font-size: 0.8em;
  margin-left: 1.2em;
}

.annotations .ui.buttons {
  margin-right: 0.5rem;
}

.item.paragraph {
  margin: 0;
}

.item.paragraph .ui.form {
  margin-bottom: 1em;
}

.ui.statistic.para-no {
  min-width: 1.8em;
  padding-top: 0.6em;
  cursor: pointer;
}

.ui.statistic.para-no .value {
  text-align: right;
  font-size: 1.1rem !important;
}

.paragraph > .para-content {
  position: relative;
  display: flex;
  flex: 1 1 auto;
  border: 1px solid white;
  padding: 0.3em;
  border-radius: 0.5em;
  line-height: 1.4rem;
  font-size: 1.1rem;
}


.paragraph > .selected.para-content {
  border-color: lightskyblue;
}

.ui.statistic.selected.para-no .value {
  /*color: rgba(9, 187, 7, 1);*/
  color: blue;
}
