h4.ui.gray.header(*ngIf='book')
  .book-name ({{book.code}}) {{book.name}}
  .book-zhname(*ngIf='book.zhName') {{book.zhName}}
div(*ngIf='chap')
  h5.ui.blue.header
    .chap-name.pre-wrap {{chap.name}}
    .chap-zhname.pre-wrap(*ngIf='chap.zhName') {{chap.zhName}}

  //.ui.hidden.divider
  //sticky.sticky.ui.right.floated.header([sticky-offset-top]="10")
  .sticky.ui.right.floated.header
    .operations
      sui-checkbox([(ngModel)]='showTrans') 中文
      sui-checkbox([(ngModel)]='leftRight', [isDisabled]='!showTrans') 左右对照
      sui-checkbox([(ngModel)]='lookupDict') 单击查词
      //sui-checkbox([(ngModel)]='highlightSentence') 句子高亮
      sui-checkbox([(ngModel)]='markNewWords', (ngModelChange)='toggleMarkNewWords()') 标记生词
      sui-checkbox([(ngModel)]='annotationHover', (ngModelChange)='toggleAnnotationHover()') 显示标注

  .ui.list.items
    .item.paragraph(*ngFor='let para of chap.paras; trackBy: paraTracker; index as index')
      .ui.left.floated.mini.statistic.para-no((click)='selectPara2(para)', [ngClass]='{"selected": para===selectedPara}')
        .value {{index+1}}
      para-content.para-content(
      [para]='para',
      [contentContext]='contentContext',
      [showTrans]='showTrans',
      [gotFocus]='para===selectedPara',
      [activeAlways]='true',
      [lookupDict]='lookupDict',
      [highlightSentence]='highlightSentence',
      [markNewWords]='markNewWords',
      [annotationHover]='annotationHover',
      [ngClass]='{"selected": para===selectedPara, "left-right": leftRight, "up-down": !leftRight}',
      (mouseover)='selectPara(para)',
      (click)='selectPara(para)',
      (dictRequest)="onDictRequest($event)")

  #dictPopup.ui.basic.popup(*ngIf='dictRequest')
    dict-entry(*ngIf='dictRequest.dictLang==="en"',
      [entry]='dictRequest.dictEntry',
      [initialSelectedItem]='dictRequest.initialSelected',
      [relatedWords]='dictRequest.relatedWords',
      [context]='dictRequest.context',
      (viewReady)='onDictPopupReady()',
      (userWordChanged)='onUserWordChange($event)',
      (dictItemSelected)='onDictItemSelect($event)')
    dict-zh-entry-smi(*ngIf='dictRequest.dictLang==="zh"',
      [entry]='dictRequest.dictEntry',
      [initialSelectedItem]='dictRequest.initialSelected',
      [relatedWords]='dictRequest.relatedWords',
      [context]='dictRequest.context',
      (viewReady)='onDictPopupReady()',
      (dictItemSelected)='onDictItemSelect($event)')
  ng-template(#dictSimple='')

.ui.hidden.clearing.divider
button.ui.tiny.button((click)='goBack()') 返回
