h4.ui.gray.header(*ngIf='book')
  .book-name {{book.name}}
  .book-zhname(*ngIf='book.zhName') {{book.zhName}}
div(*ngIf='chap')
  h5.ui.blue.header
    .chap-name.pre-wrap {{chap.name}}
    .chap-zhname.pre-wrap(*ngIf='chap.zhName') {{chap.zhName}}

  //.ui.hidden.divider
  //sticky.sticky.ui.right.floated.header([sticky-offset-top]="10")
  .sticky.ui.right.floated.header
    .operations
      sui-checkbox([(ngModel)]='lookupDict') 查词
      sui-checkbox([(ngModel)]='showTrans') 中文
      sui-checkbox([(ngModel)]='highlightSentence') 句子高亮
      sui-checkbox([(ngModel)]='annotatedWordsHover', (ngModelChange)='onAnnotatedWordsHoverChange()') 鼠标悬停

  .ui.list.items
    .item.paragraph(*ngFor='let para of chap.paras; trackBy: paraTracker; index as index')
      .ui.left.floated.mini.statistic.para-no((click)='selectPara2(para)')
        .value {{index+1}}
      para-content.para-content(
      [para]='para',
      [showTrans]='showTrans',
      [gotFocus]='para===selectedPara',
      [lookupDict]='para===selectedPara && lookupDict',
      [highlightSentence]='para===selectedPara && highlightSentence',
      [annotatedWordsHover]='annotatedWordsHover',
      [ngClass]='{"selected": para===selectedPara}',
      (click)='selectPara(para)',
      (dictRequest)="onDictRequest($event)")

  #dictPopup.ui.basic.popup
    dict-entry(*ngIf='dictRequest',
    [entry]='dictRequest.dictEntry',
    [initialSelectedItemId]='dictRequest.meaningItemId',
    [relatedWords]='dictRequest.relatedWords',
    [context]='dictRequest.context',
    (viewReady)='onDictPopupReady()')

.ui.hidden.clearing.divider
button.ui.tiny.button((click)='goBack()') 返回
